@import "tailwindcss";

@theme {
  /* landing page */
  --color-text-white: #ffffff;
  --color-text-black: #000000;
  --color-text-strong: #333333;
  --color-text-accent: #02093a;
  --color-primary: #a20602;
  --color-secondary: #e6e7ed;
  --color-text-success: #22c553;
  --color-red-50: #f6e6e6;
  --color-red-100: #a20602;
  --color-red-200: #f8eaea;
  --color-blue-50: #eff5fe;
  --color-green-50: #edfaf1;
  --color-gray-50: #b1b3c2;
  --color-gray-100: #333333;
  --color-gray-200: #e6e6eb;
  --color-gray-300: #b1b3c2;
  --color-gray-400: #545454;
  --fill-redWeak: #ffe6e6;
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    font-family: var(--font-sora), sans-serif;
  }

  h2 {
    @apply text-[32px] md:text-[38px] lg:text-[48px] text-text-accent font-bold leading-[120%] tracking-[-0.05em] mb-[16px];
  }
}

@layer components {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    @apply px-4 sm:px-6 lg:px-8;
  }
}

@layer utilities {
  .bg-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("/en/hero.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .bg-values {
    background-image: url("/images/Values.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-driver {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 4.78%,
        rgba(1, 2, 12, 0.8) 100%
      ),
      url("/en/Drivers.png");
    background-size: cover;
    background-position: 5% 2%; /* move image downward */
    background-repeat: no-repeat;
  }
  .bg-contact {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 4.78%,
        rgba(1, 2, 12, 0.8) 100%
      ),
      url("/en/contact.png");
    background-size: cover;
    background-position: 60% 90%;
    background-repeat: no-repeat;
  }
   .bg-value {
    background-image: url("/en/Values-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .input-class {
    @apply h-12 w-full rounded-lg border-[#000000] bg-[#0000000F] px-4 py-3 text-[#000000E5] hover:border focus:border-[3px] focus:bg-white focus:outline-none;
  }
  .bg-partner {
        background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 4.78%,
        rgba(1, 2, 12, 0.8) 100%
      ),
      url("/en/partners.png");
    background-size: cover;
    background-position: 60% 90%;
    background-repeat: no-repeat;
  }
  .bg-rider {
     /* background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 4.78%,
        rgba(1, 2, 12, 0.8) 100%
      ),
      url("/en/riders.png");
    background-size: cover;
    background-position: 60% 90%; */
    /* background-repeat: no-repeat; */
    background-color:green;
  }
}
